div{
    .card{
    position: relative;
    margin: 20px;
    margin-left: 15%;
    width: 50rem;}}

    .titlelist{text-align: center;}
    .card-title{
        text-align: left;
    }
    .card-text{
        text-align: left;
    }